.socialLinks {
    color: black;
}
.userDesc {
    color: black;
    font-size: large;
}
img {
    border-radius: 50px;
}
.beBold {
    font-weight: bold;
}
.streamerName {
    color: black;
    font-weight: bolder;
    font-size: 1.5em;
}
.lifetimeTitle {
    margin-top: 20px;
}
.streamerDir {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.cheeriness {
    background-color: lightblue !important;
}
.aboutTheProject {
    margin: 100px;
    color: black;
    font-size: 1em;
    font-weight: bold;
}
.greetings {
    margin: 50px 0;
}