.socialLinks {
    color: black;
}
.userDesc {
    color: black;
    font-size: large;
}
img {
    border-radius: 50px;
}
.beBold {
    font-weight: bold;
}
.streamerName {
    color: black;
    font-weight: bolder;
    font-size: 1.5em;
}
.lifetimeTitle {
    margin-top: 20px;
}